<h1>Bathing Sites</h1>

<% @bathing_sites.each do |bathing_site| %>
    <%= bathing_site.site_name %>
    <%= bathing_site.pollution_level %>
    <%= bathing_site.tide %>
    <%= bathing_site.region %>
    <br>
<% end %>
